<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.swiftgetx.app</string>
    <key>CFBundleName</key>
    <string>SwiftGetX</string>
    <key>CFBundleDisplayName</key>
    <string>SwiftGetX</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>SwiftGetX Download URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>swiftgetx</string>
            </array>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 SwiftGetX.</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/vancehuds/SwiftGetX/gh-pages/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>HcyPOd1A9bPy5IVujns0AXTxbzwXTobtNFjesFWNwTY=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
